/*==========  6 - ICONS-ELEMENTS  ==========*/

.icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: none;
    margin: 0px;
    margin-left: 15px;
}

.icon0 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: none;
    margin-top: -4px;
    vertical-align: middle;
}

.icon2 {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 34px;
    background: none;
    margin: 0 4px;
    margin-top: -8px;
}


.icon3 {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: none;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.icon-content {
    display: inline-block;
    vertical-align: top;
    line-height: 45px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 6px;
    color: #f8f8f8;
    font-size: 18px;
}

.icon-content2 {
    display: inline-block;
    vertical-align: top;
    line-height: 45px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 6px;
}

.icon:hover:before, .icon2:hover:before {
    content: "";
    display: block;
    position: absolute;
    width: auto;
    background: rgba(25,25,25, 0.7);
    color: #f8f8f8;
    padding: 2px 4px;
    border-radius: 4px;
    margin-top: 52px;
    margin-left: 8px;
}

.icon:hover, .icon2:hover { cursor: pointer;}



/* - Uncomment to activate icon */

/* icon-menu */
.icon-menu {
    background: url('../images/menu.png') no-repeat 0% 0%;
    background-size: 100%;
}
.icon-menu:hover:before {content: "Menu";}


/* icon-logout */
.icon-logout {
    background: url('../images/power.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-logout:hover:before {content: "Logout";}


/* icon-classement */
.icon-classement {
    background: url('../images/classement.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-logout:hover:before {content: "Logout";}


/* icon-equipement */
.icon-equipement {
    background: url('../images/equipement.png') no-repeat 0% 0%;
    background-size: 100%;
}


/* icon-mission */
.icon-mission {
    background: url('../images/mission.png') no-repeat 0% 0%;
    background-size: 100%;
}


/* icon-vaisseau */
.icon-vaisseau {
    background: url('../images/vaisseau.png') no-repeat 0% 0%;
    background-size: 100%;
}

/* icon-aqua */
.icon-aqua {
    background: url('../images/gem/Aqua.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-aqua:hover:before {content: "Aqua Crystal";}

/* icon-emerald */
.icon-emerald {
    background: url('../images/gem/Emerald.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-emerald:hover:before {content: "Emerald Crystal";}

/* icon-Ruby */
.icon-ruby {
    background: url('../images/gem/Ruby.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-ruby:hover:before {content: "Ruby Crystal";}

/* icon-topaz */
.icon-topaz {
    background: url('../images/gem/Topaz.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-topaz:hover:before {content: "Topaz Crystal";}

/* icon-coin */
.icon-coin {
    background: url('../images/coin.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-coin:hover:before {content: "Argent";}


/* icon-xp */
.icon-xp {
    background: url('../images/xp.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-xp:hover:before {content: "xp";}

/* icon-shield */
.icon-bouclier {
    background: url('../images/bouclier.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-bouclier:hover:before {content: "Bouclier";}


/* icon-duree */
.icon-duree{
    background: url('../images/duree.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-duree:hover:before {content: "Bouclier";}


/* icon-pv */
.icon-pv {
    background: url('../images/pv.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-pv:hover:before {content: "pv";}


/* icon-defense */
.icon-defense {
    background: url('../images/defense.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-defense:hover:before {content: "défense";}


/* icon-attaque */
.icon-attaque {
    background: url('../images/attaque.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-attaque:hover:before {content: "attaque";}

/* icon-rank1 */
.icon-rank1 {
    background: url('../images/rank1.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-rank1:hover:before {content: "Rang 1";}


/* icon-rank2 */
.icon-rank2 {
    background: url('../images/rank2.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-rank2:hover:before {content: "Rang 2";}


/* icon-rank3 */
.icon-rank3 {
    background: url('../images/rank3.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-rank3:hover:before {content: "Rang 3";}




/* icon-cancel */
.icon-cancel {
    background: url('../images/cancel.png') no-repeat 0% 0%;
    background-size: 100%;
}

.icon-cancel:hover:before {content: "Fermer";}



/* facebook-icon */
.fb0 {
    display: block;
    width: 48px;
    height: 48px;
    background: url('http://www.holobox.fr/AFK/asset/images/fb0.png') no-repeat 0% 0%;
    background-size: 48px;
    margin: 15px;
}


/* twitter-icon */
.twitter {
    display: block;
    width: 48px;
    height: 48px;
    background: url('http://www.holobox.fr/AFK/asset/images/twit.png') no-repeat 0% 45%;
    background-size: 48px;
    margin: 15px;
}
/*-----  End of ICONS-ELEMENTS  ------ */